* {
  box-sizing: border-box;
}

.area {
  width: 100%;
}

.area-top {
  height: calc(100vh - 64px);
}

.area-bottom {
  background-color: #ddd;
  height: 64px;
}

.pane {
  height: 100%;
  float: left;
}

.list-view {
  width: 100%;
  height: 100%;
}

.list-view > .title {
  height: 36px;
  line-height: 36px;
  background: #ddd;
  text-align: center;
}

.list-view > .filter {
  width: 100%;
  height: 36px;
}

.list-view > .filter > input {
  width: 100%;
  height: 100%;
}

.list-view > .items {
  height: calc(100% - 72px);
  overflow-y: auto;
}

.list-view > .items > .item {
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

.list-view > .items > .item.empty {
  font-style: italic;
  font-weight: normal;
  color: #888;
}

.list-view > .items > .item.selected {
  background-color: #33f;
  color: #fff;
}

.list-view.tracks > .items {
  height: calc(100% - 36px);
}

.list-view.tracks > .items > .item { }

.list-view.tracks > .items > .item > .title { }
.list-view.tracks > .items > .item > .artist {
  margin-top: 6px;
  font-size: 0.8rem;
  font-weight: normal;
  color: #777;
}

.list-view.tracks > .items > .item.selected > .artist {
  color: #ddd;
}

.gutter {
  border: 1px solid #ddd;
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  height: 100%;
  float: left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: ns-resize;
}
